<launch>
  <rosparam command="load" file="$(find mobrob_util)/src/robot_info.yaml" />
  <!-- Add a parameter that finds the SVG file with the path to follow. You can change the path file by entering its name. -->
  <param name="path_file_svg" value="$(find mobrob)/src/SVGtest.svg" />

  <group ns="robot_operate">
    <node pkg="mobrob" name="package_drop" type="package_drop.py" />
    <node pkg="mobrob" name="pivot_node" type="pivot_node.py" />
  </group>

</launch>
